<table border="1" cellspacing="0">
    <tr><th>index</th><th>serviceCode</th><th>domainName</th><th>data</th><th>token</th><th>date</th></tr>
    {{#each colList}}
        <tr>
            <td>{{@index}}</td>
            <td>{{serviceCode}}</td>
            <td>{{domainName}}</td>
            <td>{{data}}</td>
            <td>{{token}}</td>
            <td>{{date}}</td>
        </tr>
    {{/each}}
</table>

<style>
    table{
        text-align:center;
        width:100%;
        overflow:hidden;
    }
    table td,th{

    }
</style>
